!!!5
html(lang="en")
  head
    - if (typeof pageTitle !== "undefined")
      title #{pageTitle} | Rackspace Cloud Monitoring Demo
    - else
      title Rackspace Cloud Monitoring Demo

    link(rel="stylesheet", href="/static/css/bootstrap.min.css", type="text/css", media="screen, projection")
    link(rel="stylesheet", href="/static/css/style.css", type="text/css", media="screen, projection")

    script(src='/static/js/jquery-1.7.min.js')
    script(src='/static/js/bootstrap-dropdown.js')
    script(src='/static/js/cloudmonitoring.js')
    block scripts

  body
    div.topbar
     div.fill
        div.container
          a(href='/').brand Cloud Monitoring
          p.pull-right
            - if (!user)
              a(href='/login?next=#{url}') Log in
            - else if (user.authorized)
              | Logged in as #{user.name},
              a(href='/logout') log out
            - else
              a(href='/login?next=#{url}') Log in

    div.container
      div.content
        - if (emsg)
          div.alert-message.error
            p #{emsg}

        block content
